<header>
    <nav class="navbar navbar-expand navbar-dark bg-header" *ngIf="user">
        <div class="navbar-nav">
            <a class="nav-item nav-link text-dark" routerLink="/">Home</a>
            <a class="nav-item nav-link text-dark" (click)="logout()">Logout</a>
            <a class="nav-item nav-link" *ngIf="isAdmin;">you login as admin</a>
            <a class="nav-item nav-link" *ngIf="!isAdmin;">you login as currentUser</a>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <router-outlet></router-outlet>
</div>
<footer>

</footer>